<div class="text-center">
  <h1>ログイン</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <div class="form-group">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <%= f.submit 'Log in', class: 'btn btn-primary btn-block' %>
    <% end %>

    <p><%= link_to 'ユーザ新規登録', signup_path %></p>
  </div>
  <div>
    <p>テストユーザ１</p>
    <p>名前：apple、パスワード：apple</p>
    <p>テストユーザ２</p>
    <p>名前：seal、パスワード：seal</p>
    <p>テストユーザ３</p>
    <p>名前：bear、パスワード：bear</p>
  </div>
</div>
