<div class="text-center">
  <h1><span id="signin-title">ログイン</span></h1>
</div>

<div class="row">
  <%= form_for(:session, url: login_path) do |f| %>

    <div class="form-group">
      <%= f.label :name, '名前' %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password %>
    </div>

    <div class="form-group", id="login-btn">
      <%= f.submit '送信', class:'login-btn' %>
    </div>
  <% end %>

  <div class="form-group", id="signin-back">
    <%= link_to '◀︎ユーザー新規登録', signup_path %>
  </div>
</div>
  <!-- <div>
    <p>テストユーザ１</p>
    <p>名前：apple、パスワード：apple</p>
    <p>テストユーザ２</p>
    <p>名前：seal、パスワード：seal</p>
    <p>テストユーザ３</p>
    <p>名前：bear、パスワード：bear</p>
  </div> -->
