<h2>プロフィール編集</h2>

<div class="user-edit">
  <%= form_for(current_user) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="form">
      <%= f.label :name%>
      <%= f.text_field :name %>
    </div>

    <div class="circle-image">
      <%= image_tag current_user.image.url %>
    </div>

    <div class="user-image">
      <%= f.file_field :image, accept: 'image/jpg, image/jpeg, image/gif, image/png' %>
    </div>

    <div class="create-button">
      <button class="return-home">
        <%= f.submit '保存', class: 'btn btn-primary' %>
      </button>
    </div>
  <% end %>
</div>
