<div class="text-center">
  <h1><span id="signin-title">ユーザー登録</span></h1>
</div>

<div class="row">
  <%= form_for(@user) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="form-group">
      <%= f.label :name, class: 'ef' %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'ef' %>
      <%= f.password_field :password %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'ef' %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="form-group">
      <div class="file-field">
        <%= f.label :image, class: 'file' %>
        <%= f.file_field :image, accept: 'image/jpg, image/jpeg, image/gif, image/png' %>
      </div>
    </div>

    <div class="form-group", id="signin-btn">
      <%= f.submit '送信' %>
    </div>
  <% end %>
</div>
