<% if logged_in? %>
  <h1>Room一覧</h1>
  <div class='youtube-home'>
    <% @rooms.reverse.each do |room| %>

      <div class='col'>
        <%= link_to room_path(room) do %>
          <img src="https://img.youtube.com/vi/<%= room.youtube_url.scan(/\?v=([^&]+)/).flatten[0] %>/hqdefault.jpg">
          <p><%= room.name %></p>
        <% end %>
      </div>

    <% end %>
  </div>

<% else %>
<div class="top-img-login">
  <%= image_tag "Youtube Clips_login2.png" %>
</div>

<div class="sign-in-top">
  <div class="signin">
    <%= link_to '新規登録', signup_path %>
  </div>
  <div class="login">
    <%= link_to 'ログイン', login_path %>
  </div>
</div>
<% end %>
