<% if logged_in? %>
  <h1>Room一覧</h1>
  <div class='youtube-home'>
    <% @rooms.reverse.each do |room| %>

      <div class='col'>
        <%= link_to room_path(room) do %>
          <img src="https://img.youtube.com/vi/<%= room.youtube_url.scan(/\?v=([^&]+)/).flatten[0] %>/hqdefault.jpg">
          <p><%= room.name %></p>
        <% end %>
      </div>

    <% end %>
  </div>

<% else %>
  <li><%= link_to 'Signup', signup_path %></li>
  <li><%= link_to 'Login', login_path %></li>
<% end %>
