<h2>Room作成</h2>

<div class="room-create">
  <%= form_for(@room) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

  <div class="room-name">
    <%= f.label :name %>
    <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
    <%= f.text_field :name %>
  </div>

  <div class="room-url">
    <%= f.label :youtube_url%>
    <%= f.text_field :youtube_url %>
  </div>

    <%= f.submit %>
  <% end %>
</div>
