<p>ログインユーザー: <%= current_user.name %></p>
<h2><%= "ルーム名：#{@room.name}" %></h2>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label>
  <div class="form-group">
    <input type="text" data-behavior="room_speaker" data-user="<%= current_user.id %>" data-room="<%= @room.id %>">
  </div>
</form>

<%= link_to '一覧に戻る', root_path %>
<!-- jquery動作確認用 -->
<script>
  $("#messages").css("color","red")
</script>
