<header>
  <div class="collapse">

    <div class="top">
      <%= link_to root_path do %>
        <div class="top-img">
          <%= image_tag "/assets/Youtube Clips.png" %>
        </div>
      <% end %>
    </div>

    <nav class="navbar">
      <% if logged_in? %>
        <%= link_to 'Roomを作る', new_room_path, class:"new-room" %>

        <div class="user-menu">
          <div class="submenu">
            <div class="circle-image-user">

            </div>
            <p><%= current_user.name %></p>
          </div>

            <ul class="hidden">
              <li><%= link_to 'プロフィール', edit_user_path(current_user) %></li>
              <li><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
        </div>
      <% end %>
    </nav>
  </div>
</header>
