<header>
  <div class="collapse">

    <div class="center jumbotron">
      <div class="text-center">
        <h1>Youtube Clips</h1>
      </div>
    </div>

    <ul class="navbar">
      <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

            <%= link_to edit_user_path(current_user) do %>
              <div class="circle-image-user">
                <% if current_user.image? %>
                  <%= image_tag current_user.image.url %>
                <% else %>
                  <%= image_tag "/assets/default.jpg" %>
                <% end %>
              </div>
              <p><%= current_user.name %></p>
            <% end %>

          </a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Roomä½œæˆ', new_room_path %></li>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'Signup', signup_path %></li>
        <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </div>
</header>
